---
import { UserDropdownMenu } from "../dropdown/UserDropdownMenu";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import "@fontsource/dseg14-modern";
import "@fontsource-variable/playpen-sans";
import Layout from "./Layout.astro";
import snowyBackground from "@/assets/images/Snowfall_Background.png";
import BottomGraphics from "@/images/BottomGraphics.png";

interface Props {
  title: string;
  breadcrumbs?: { name: string; href?: string }[];
}
const { title, breadcrumbs = [{ name: "Games home" }] } = Astro.props;
---

<Layout title={title}>
  <main
    class="flex flex-col min-h-screen bg-snowfall-background bg-cover bg-center font-xmas"
  >
    <!-- main content -->
    <div class="relative flex-1 w-full max-w-4xl mx-auto pt-28 z-20">
      <div class="shrink-0">
        <img
          src="/plinko/other/PlinkoHeader_Alone.webp"
          class="object-contain h-14"
        />
      </div>

      <div
        class="flex items-end justify-between py-2.5 border-b border-gray-700"
      >
        <div>
          {
            breadcrumbs && (
              <Breadcrumb>
                <BreadcrumbList>
                  {breadcrumbs.map((breadcrumb, idx) => (
                    <>
                      <BreadcrumbItem>
                        <BreadcrumbLink href={breadcrumb.href}>
                          {breadcrumb.name}
                        </BreadcrumbLink>
                      </BreadcrumbItem>

                      {idx < breadcrumbs.length - 1 && <BreadcrumbSeparator />}
                    </>
                  ))}
                </BreadcrumbList>
              </Breadcrumb>
            )
          }
        </div>

        <UserDropdownMenu client:load user={Astro.locals.user} />
      </div>

      <slot />
    </div>
    <div class="relative -mt-72 w-full z-0">
      <img src={BottomGraphics.src} class="w-full" />
    </div>
  </main>
</Layout>
